@charset "utf-8";
.header__inner{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-left: 2.8%;
    padding-right: 7.7%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}
.header__nav ul{
    display: flex;
    gap: 77px;
}
.logo{
    width: 227px;
}
.header__nav a{
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.hamburger,
.header__nav-sp{
    display: none;
}

@media screen and (max-width: 1100px ) {
    .hamburger {
        display: block;
        width: 33px;
        height: 33px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 9999;
        cursor: pointer;
    }
    .hamburger span{
        position: absolute;
        width: 33px;
        height: 2px;
        background-color: #fff;
        top: 16px;
        left: 0;
        transition: 0.4s;
    }
    .hamburger span::before,
    .hamburger span::after{
        position: absolute;
        content: "";
        width: 33px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s;
    }
    .hamburger span::before {
        top: -15px;
    }
    .hamburger span::after {
        bottom: -15px;
    }
    .open span {
        background-color: transparent;
    }
    .open span::before {
        transform: rotate(45deg);
        top: 0;
    }
    .open span::after {
        transform: rotate(-45deg);
        bottom: 0;
    }
    .header__nav-sp {
        position: absolute;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000000a5;
    }
    .header__nav-sp ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .header__nav-sp a {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }
    .header__nav {
        display: none;
    }
}





body{
    background-color: #e8d9bf;
    margin: 0 auto;
}

/* concept */
#concept{
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
}
.concept_text{
    font-size: 30px;
    padding-top: 104px;
}
.concept_title{
    padding-top: 47px;
    font-size: 82px;
    font-weight: lighter;
    line-height: 1.17;
}
.concept_subtext{
    padding-top: 20px;
    padding-bottom: 93px;
    line-height: 1.65;
    font-size: 23px;
}
.br-sp{
    display: none;
}

.wrap{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 95px;
    max-width: 1000px;
    align-items: center;
}
.coffee{
   width: 50%;
}
#about-us{
    padding: 0 10px;
}
.about-ustext{
    width: 50%;
    padding-left: 80px;
    box-sizing: border-box;
}
.about-ustext img{
    width: auto;
    height: 77px;
    padding-bottom: 48px;
    padding-top: 25px;
}
.about-ustext h3{
    font-size: 44px;
    line-height: 1.38;
    font-weight: lighter;
}
.about-ustext p{
    line-height: 1.62;
    font-size: 16px;
    padding-top: 23px;
}

/* menu */
#menu{
    padding: 0 10px;
}
.menu-logo{
    margin: 0 auto;
    align-items: center;
    width: 151px;
    height: 78px;
}
.menu_content ul{
    display: flex;
    justify-content: space-between;
}
.menu_content li{
    width: 30%;
    padding-top: 32px;
}
.menu_content img{
    border-top-right-radius: 30px;
}
.menu_content h3{
    color: #d30202;
    font-weight: lighter;
    font-size: 38px;
    padding-left: 10px;
    margin-top: -20px;
    margin-bottom: 17px;
}
.menu_content p{
    line-height: 1.47;
    font-size: 17px;
}

/* gallery */

.gallery-logo{
    margin: 0 auto;
    align-items: center;
    width: 245px;
    height: 78px;
    padding-top: 38px;
    
}
.gallery_content ul{
    display: flex;
    padding-top: 16px;
    padding-bottom: 30px;
    
}
.gallery_content li{
    margin: 0 auto;
    width: 25%;
}
.gallery-wrap{
    display: flex;
    max-width: none;
}
/* event */
#event{
    padding: 0 10px;
}
.event-logo{
    margin: 0 auto;
    width: 173px;
    height: 78px;
    padding-top: 54px;
    padding-bottom: 30px;
}

.event_content ul{
    max-width: 1000px;
    background-color: #ffffff;
    border: solid;
    padding-bottom: 45px;
    padding-top: 45px;
    margin: auto;
   
}
.event_content li{
    display: flex;
    gap: 54px;
    align-items: center;
    max-width: 680px;
    margin: 0 auto;
}
.event_content p{
    line-height: 1.95;
    font-size: 23px;
    margin: 0;
}
.event_content .p .date{
    border: none;
}
.event__link{
    border-bottom: 1px solid #4f260b;
}
/* access */
.access_content{
    margin: 0 auto;
}
.access-logo{
    width: 213px;
    height: 78px;
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 37px;
}
.map{
    filter: grayscale(100%) invert(92%) contrast(83%);
}
iframe{
    aspect-ratio: 375 / 190;
    width: 100%;
    height: 100%;
}
/* footer */
#footer{
    background-color: #ffffff;
    padding: 0 10px;
}
.footer-logo{
    width: 226px;
    height: 50px;
    padding-right: 65px;
}

.footer_content{
    display: flex;
    padding-top: 80px;
    max-width: 1000px;
    margin: auto;
    padding-top: 82px;
    padding-bottom: 73px;
}
.footer-text{
    line-height: 1.95;
    margin: -1.2em;
}
.copy{
    text-align: center;
    padding-bottom: 74px;
    margin: 0;
}
.totop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}
.slick-dots{
    bottom: 0;
}
.slick-dots li button::before,
.slick-dots li.slick-active button::before {
    color: #ffffff;
}
@media screen and (max-width: 1100px) {
    .concept_title{
        font-size: 70px;
    }
    .concept_text{
        font-size: 25px;
    }
}
 @media screen and (max-width: 767px) {
    .wrap{
        display: block;
        margin: 0;
    }
    .concept_text{
        font-size: 17px;
        padding-top: 38px;
    }
    .concept_title{
        font-size: 38px;
        line-height: 1.15;
        padding-top: 22px;
    }
    .concept_subtext{
        font-size: 16px;
        line-height: 1.87;
        padding-top: 12px;
        padding-bottom: 15px;
    }
    #menu{
        padding: 0 0;
    }
    #about-us{
        position: relative;
        padding-top: 90px;
        padding-left: 0;
        padding-right: 0;
    
    }
    .about-ustext img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 47px;
    }
    .about-ustext{
        width: 100%;
        padding-left: 0%;
    }
    .about-ustext h3 {
        font-size: 36px;
        line-height: 1.25;
        padding-left: 20px;
        padding-top: 32px;
    }
    .about-ustext p {
        line-height: 1.75;
        font-size: 16px;
        padding-top: 19px;
        margin-bottom: 50px;
        padding: 0 20px;
    }
    .br-sp{
        display: block;
    }
    .coffee{
        width: 100%;
        
    }
    .menu_content{
        padding: 0 38px;
    }
    .menu_content img{
        border-top-right-radius:0;
    }
    .menu-logo{
        width: 87px;
        height: 45px;
    }
    .menu_content ul{
        display: block;
    }
    .menu_content li{
        width: 100%;
        padding-top: 23px;
    }
    .menu_content li img {
        border-top-right-radius: 50px;
    }
    .menu_content h3{
        font-size: 40px;
    }
    .menu_content p{
        margin-bottom: 40px
    }
    .gallery-logo {
        margin: 0 auto;
        align-items: center;
        width: 142px;
        height: 45px;
        padding-top: 38px;
    }
    .gallery_content ul {
        padding-top: 16px;
        padding-bottom: 0px;
    }
    #event{
        padding: 0 0;
    }
    .event-logo{
        width: 100px;
        height: 45px;
        padding-bottom: 15px;
        padding-top: 23px;
    }
    .event_content ul{
        padding: 35px 30px;
        margin: 0 20px;
    }
    .event_content li{
        display: block;
    }
    .event_content p{
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .access-logo {
        width: 124px;
        height: 45px;
        margin: 0 auto;
        padding-top: 26px;
        padding-bottom: 5px;
    }
    
    #footer{
        padding: 0 0;
    }
    .footer_content{
        display: block;
        padding-left: 20px;
        padding-top: 40px;
    }
    
    .footer-text{
        line-height: 1.72;
        margin: 0;
        font-size: 18px;
        padding-top: 27px;
    } 
    .totop {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 100px;

 }
}
 